body {
    font-family: 'News Cycle', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
	font-family: 'Playfair Display';
	font-size: 60px;
}

h1 a {
	color: inherit;
}

h1 a:hover,
h1 a:focus {
	color: inherit;
}

h1, h3 {
    font-weight: 700;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin: 10px 0;
}

p.lead {
    margin-bottom: 10px;
}

.fa-stack-ctr-1x {
	width: 1em;
	height: 1em;
	line-height: 1em;
}

.fa-stack-point5x {
	font-size: 0.5em;
}

.fave-parts-quavers {
	color: #fff;
	left: -0.1em;
}

.faveparts-logotype-adjacent {
	top: -0.1em;
}

.item-author {
	font-size: 24px;
	font-weight: 700;
	margin-top: 20px;
}

.item-title {
	font-size: 24px;
}

footer {
    margin-top: 2em;
}

footer a {
	color: inherit;
}

footer a:hover,
footer a:focus {
	color: inherit;
}