<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <link href="//fonts.googleapis.com/css?family=News+Cycle:400,700|Playfair+Display:400,700,900" rel="stylesheet" type="text/css">
        
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <a href="#content" class="sr-only">Skip to main content</a>
		<nav>
			<div class="container">
				<h1><a href="/"><span class="fa-stack fa-stack-ctr-1x faveparts-logotype-adjacent"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-music fa-stack-1x fa-stack-point5x fave-parts-quavers"></i></span></a><a href="/">{{ site.name }}</a></h1>
			</div>
		</nav>
		<main role="main" class="home container" id="content">
        	{{ content }}            
        </main>
        <footer>
            <div class="container">
				<div>
					&copy; {{ site.time | date: '%Y' }} {{ site.name }}
				</div>
				<div class="text-muted">
					Contributors' sequence listings <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a>. Trademarks are the property of their respective owners.
				</div>
            </div>
        </footer>
		<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
		<script type="text/javascript">
		    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"light-bottom"};
		</script>
		<script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
		<!-- End Cookie Consent plugin -->
    </body>
</html>
