---
layout: default
contributor: ajrg
title: Alex Greenland's Favourite Music Motifs
---
<section>
	<h2>{{ page.title }}</h2>
	<p class="lead">
		<i class="fa fa-twitter"></i>
		<a href="https://twitter.com/alexphoenix">alexphoenix</a>
		<i class="fa fa-globe"></i>
		<a href="http://ajrg.co">ajrg.co</a>
	</p>
</section>
{% assign sortedPosts = site.posts | sort: 'daysort' %}
{% assign sortedPosts2 = sortedPosts | sort: 'date' %}
{% for post in sortedPosts2 reversed %}
	{% if post.categories.first == page.contributor %}
	{{ post.content }}
	{% endif %}
{% endfor %}
